.grid-row {
	padding-top: 20px;
	padding-right: 15px;
	background-color: rgba(33, 182, 133, 0.4);
}

.grid-example .row {
	margin: 0;
}

.grid-row :last-child {
	padding-bottom: 20px;
}

.grid-example .columns {
	background-color: rgba(33, 182, 133, 0.4);
	color: #fff;
	text-align: center;
	padding: 20px 10px;
	border-left: 1px solid #21b685;
}

.grid-row :first-child {
	border-left: none;	
}