.page-header {
	background-color: #21b685;
	margin: 0;
	padding: 70px 0;
	border-bottom: none;
}

.page-title {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 5px;
}

.page-subtitle {
	color: #fff;
	font-size: 1.250em;
	font-weight: 700;
	letter-spacing: 0.025em;
	margin-bottom: 20px;
}