// Colors

$brand-primary-color		: 		#21b685;	//Green
$brand-secondary-color		: 		#fecc46;	//Yellow
$brand-dark-color			: 		#374654; 	//Dark Blue
$brand-warning-color		:  		#ef4926; 	//Orange
$brand-highlight-color		:  		#13bae9; 	//Blue

$color-black				: 		#333333;
$color-white				: 		#fff;
$color-light-grey			: 		#f7f7f7;
$color-dark-grey			: 		#f0f0f0;